# Firebase Configuration - Main App (Poultry Farm Management)
FIREBASE_API_KEY=AIzaSyBD3Ev8Gg2yValARgfxeRlSwDWrdERmtKE
FIREBASE_AUTH_DOMAIN=mypoltyfarm.firebaseapp.com
FIREBASE_DATABASE_URL=https://mypoltyfarm-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=mypoltyfarm
FIREBASE_STORAGE_BUCKET=mypoltyfarm.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=620769276564
FIREBASE_APP_ID=1:620769276564:web:939c4e1065d8dfb9d6fa81

